<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Reamde</title>
  </head>
  <body>
    <h1>Music Tags Generating API Documentation</h1>
    <p>Made by Vijit Chandna</p>
    <p>
      use <a href="/generate/?scene=dacing in the moonlight"> /generate</a> to
      to recieve a test response
      <!-- <ul>
               <l1>
                    use /generate to get response 
                    ?scene={query}
               </l1>
          </ul> -->
    </p>
  </body>
</html>
