<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Reamde</title>
  </head>
  <body>
    <h1>API Documentation</h1>
    <md>
      # Music Recommendation App Backend

This is a backend for a Music recommendation App, which recommends music to use for a particular scene.
Returns a list of 10 objects (results)

## API Reference

#### Get readme

```http
  GET /
```

renders a HTML page which serves as a readme for the API.

#### Get results

```http
  GET /generate/?scene={scene}
```

| Parameter | Type     | Description                     |
| :-------- | :------- | :------------------------------ |
| `scene`   | `string` | **Required**. scene description |

returns an array of objects

```
        {
            "video_id": "",
            "video_link": "",
            "video_title": ""
        }
```

#### Get test result

```http
  GET /test
```

returns a test response without making any API calls, for testing / prototyping frontend.

## Environment Variables

To run this project, you will need to add the following environment variables to your .env file

`YOUTUBE_KEY`
| from YouTube data API.

`BARD_TOKEN` |
Session: Google bard website → Application → Cookies → Copy the value of \_\_Secure-1PSID cookie.
    </md>
    
    <p>Made by Vijit Chandna</p>
    <p>
      <h3> /generate</h3>
      use `/generate/?scene=birdseye view of the city` </a> to
      to recieve a response
      (uses API quota)

      <h3> /test</h3>
      use /test to recieve a test response without using API quota
            <!-- <ul>
               <l1>
                    use /generate to get response 
                    ?scene={query}
               </l1>
          </ul> -->
    </p>
  </body>
</html>
